<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
        <title>Listing users</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Prototype</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="../../static/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Test DB Connection</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">

            <div class="row justify-content-center">

                <div class="col-4 text-center bg-light" style="min-height: 1000px">
                    <!--user profile starts here-->
                    <div class="row">
                        <div class="col">
                            <!--get image from db-->
                            <a href="#">
                                <img title="profile image"
                                     class="img-circle img-responsive"
                                     th:src="@{'/users/image/'+${user.id}}"
                                     src="../../static/images/hand-drawn-modern-man-avatar.jpg" height="200"
                                     width="200"/>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <!--first name, user name and email-->
                            <p th:text="${user.firstName}" th:class="font-weight-bold">john</p>
                            <p th:text="${user.userName}">johnDoeUserName</p>
                            <p th:text="${user.email}">johnDoe@gmail.com</p>

                            <!--add profile image-->
                            <form method="post" enctype="multipart/form-data" action="#" th:action="@{/users/image/{userId}(userId = ${user.id})}">
                                <div class="custom-file">
                                    <input type="file" name="imagefile" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--user properties starts here-->
                <!--6 columns and mx-auto is to center the column-->
                <div class="col-8 mx-auto">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <!--dynamic tabs here-->
                            <!--includes projects and issues for the current user-->
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#projects">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#issues">Issues</a>
                                </li>
                            </ul>

                            <!-- displaying project information -->
                            <div class="tab-content">
                                <div class="tab-pane container active" id="projects">
                                    <table class="table table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>id</th>
                                                <th>title</th>
                                                <th>description</th>
                                                <th class="text-center">action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:each="project : ${user.projects}">
                                                <td th:text="${project.id}">1</td>
                                                <td th:text="${project.title}">Place holder information for
                                                    project title
                                                </td><td th:text="${project.projectDescription}">Place holder information for
                                                    project description
                                                </td>
                                                <td class="text-center">
                                                    <a th:href="@{/projects/{projectId}(projectId = ${project.id})}"
                                                       class="btn btn-sm btn-info">Show</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--displaying table of issues inside issues tab-->
                                <div class="tab-pane container fade" id="issues">
                                    <table class="table table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Issue Id</th>
                                                <th>Issue Description</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="issue : ${issuesPosted}">
                                                <td th:text="${issue.id}">1</td>
                                                <td th:text="${issue.issueDescription}">Issue Description</td>
                                                <td th:text="${issue.issueStatus}">OPEN/CLOSED</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a th:href="@{/issues/{issueId}(issueId = ${issue.id})}"
                                                           class="btn btn-sm btn-info">Show</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div lang="en" th:replace="fragments/footer :: footer">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
        </div>

        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    </body>
</html>
