<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Prototype</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="../../static/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Test DB Connection</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">
                        Welcome to Issue Tracker. Start using this website, by choosing any of the below option.
                    </p>
                </div>
            </div>

            <!--list entities-->
            <div class="row mt-5">
                <div class="col">
                    <a th:href="@{/users/list}" class="btn btn-primary">List Users</a>
                </div>
                <div class="col">
                    <a th:href="@{/issues/list}" class="btn btn-primary">List Issues</a>
                </div>
                <div class="col">
                    <a th:href="@{/projects/list}" class="btn btn-primary">List Projects</a>
                </div>
                <div class="col">
                    <a th:href="@{/roles/list}" class="btn btn-primary">List Roles</a>
                </div>
            </div>

            <!--admin buttons here-->
            <div class="row mt-5">
                <div class="col">
                    <a th:href="@{/sanityCheck/dbConnection}" class="btn btn-info">Test DB Connection</a>
                </div>
                <div class="col">
                    <a th:href="@{/oops}" class="btn btn-warning">List Projects by Users(WIP)</a>
                </div>
                <div class="col">
                    <a th:href="@{/oops}" class="btn btn-warning">List Users by Project(WIP)</a>
                </div>
            </div>

            <div lang="en" th:replace="fragments/footer :: footer">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
            </div>
        </div>
    </body>
</html>
