<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="lead text-center">
						Welcome to Issue Tracker. Start using this website, by choosing any of the below option.
					</p>
				</div>
			</div>

            <!--list entities-->
			<div class="row mt-5">
				<div class="col">
                    <a th:href="@{/user/listUsers}" class="btn btn-primary">List Users</a>
				</div>
				<div class="col">
					<a th:href="@{/issue/issueList}" class="btn btn-primary">List Issues</a>
				</div>
				<div class="col">
                    <a th:href="@{/project/listProjects}" class="btn btn-primary">List
                        Project</a>
				</div>
				<div class="col">
                    <a th:href="@{/role/listRoles}" class="btn btn-primary">List Roles</a>
				</div>
			</div>

            <!--admin buttons here-->
			<div class="row mt-5">
				<div class="col">
					<a th:href="@{/sanityCheck/dbConnection}" class="btn btn-info">Test DB Connection</a>
				</div>
				<div class="col">
					<a th:href="@{/project/projectUserList}" class="btn btn-warning">List Projects by Users(WIP)</a>
				</div>
				<div class="col">
					<a th:href="@{/user/userProjectList}" class="btn btn-warning">List Users by Project(WIP)</a>
				</div>
			</div>

            <div lang="en" th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>
