<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header}">
        <title>Listing users</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Prototype</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <body class="bg-light">
        <nav th:replace="fragments/navbar :: navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Test DB Connection</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <table class="table table-responsive-sm table-striped table-hover table-sm shadow">
                <thead class="thead-dark">
                    <tr>
                        <th>Issue Id</th>
                        <th>Issue Description</th>
                        <th>Posted By</th>
                        <th>Opened By</th>
                        <th>Fixed By</th>
                        <th>Closed By</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="issue : ${issues}">
                        <td th:text="${issue.id}">1</td>
                        <td th:text="${issue.issueDescription}" style="word-wrap: break-word; min-width: 160px;max-width: 200px;">Issue Description</td>
                        <td th:text="${issue.postedBy.userName}">John1</td>
                        <!--user object can be null-->
                        <td th:text="${issue.openedBy} ? ${issue.openedBy.userName} : '-'">John1</td>
                        <!--user object can be null-->
                        <td th:text="${issue.fixedBy} ? ${issue.fixedBy.userName} : '-'">John1</td>
                        <!--user object can be null-->
                        <td th:text="${issue.closedBy} ? ${issue.closedBy.userName} : '-'">John1</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a th:href="@{/issues/{issueId}(issueId = ${issue.id})}"
                                   class="btn btn-sm btn-outline-primary font-weight-bold">View</a>
                                <a th:href="@{/issues/edit/{issueId}(issueId = ${issue.id})}"
                                   class="btn btn-sm btn-outline-info font-weight-bold">Update</a>
                                <a th:href="@{/issues/delete/{issueId}(issueId = ${issue.id})}"
                                   class="btn btn-sm btn-outline-danger font-weight-bold"><span><i class="fa fa-trash-alt fa-fw"></i></span> Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--we do pagination only if there exists at least one page-->
            <nav th:if="${issues.totalPages > 0}">
                <ul class="pagination justify-content-center font-weight-bold">

                    <!--previous button here -->
                    <li class="page-item" th:classappend="${issues.number == 0 ? 'disabled' : ''}">
                        <!--page before the current slice-->
                        <a class="page-link" th:href="@{/issues/list/(page=${issues.number < 2 ? 1 : issues.number})}">
                            <span>Previous</span>
                        </a>
                    </li>

                    <!--main logic goes here-->
                    <li class="page-item" th:classappend="${issues.number + 1 == i ? 'active' : ''}"
                        th:each="i : ${#numbers.sequence(issues.number + 1 ,
                    ((issues.number + 10 < issues.totalPages) ? (issues.number + 10) : (issues.totalPages)), 1)}">
                        <a class="page-link" th:href="@{/issues/list/(page=${i})}">
                            <span th:text="${i}"></span>
                        </a>
                    </li>

                    <!--ellipsis here-->
                    <li class="page-item disabled" th:if="${issues.number + 10 < issues.totalPages}">
                        <a class="page-link" href="#">
                            <span>...</span>
                        </a>
                    </li>

                    <!--next here-->
                    <li class="page-item" th:classappend="${issues.number + 1 == issues.totalPages ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/issues/list/(page=${issues.number+2})}">
                            <span>Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div>
                <a th:href="@{/}" class="btn btn-outline-dark font-weight-bold float-left"><span><i class="fa fa-home fa-fw"></i></span> Home</a>
                <a th:href="@{/issues/new}" class="btn btn-success float-right">Add New Issue</a>
            </div>
        </div>
        <div lang="en" th:replace="fragments/footer :: footer">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
        </div>
    </body>
</html>
